.header_about_bg {
   max-width: 1440px;
}

.main_about {
   max-width: 1440px;
   margin-top: 65px;
}

#about_us,
#footer_about_us {
   background: hsl(36, 71%, 53%);
}

#about_us a {
   color: white;
}

.history p {
   text-align: justify;
}

.services_items {
   display: flex;
   gap: 10px;
   height: 100%;
}

.services_items_img {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 60px;
   height: 50px;
   padding: 10px;
   border-radius: 5px;
}

.services_items_img img {
   width: 100%;
}

.ticketing_img {
   background: #ffd205;
}

.tourpackages_img {
   background: #1bbc9b;
}

.hotelbooking_img {
   background: #f3a46b;
}

.visapassport_img {
   background: #14b9d5;
}

.services_items_img img {
   width: 100%;
}

.services_title h3 {
   font-weight: bold;
}

.my_company,
.company_services,
.accept_payment {
   border-radius: 5px;
   border: 1px solid black;
}

@media (min-width: 768px) {
   .main_about {
      margin-top: 40px;
   }

   .my_company,
   .company_services,
   .accept_payment {
      border: none;
   }

   .services_title p {
      width: 400px;
   }
}

@media (min-width: 992px) {
   .main_about {
      margin-top: -10px;
   }
}
