.contact_us_container,
.header_contact_bg {
   max-width: 1440px;
}

.main_contact_page {
   margin-top: 65px;
   max-width: 1440px;
}

.contact_us {
   max-width: 1440px;
   background: hsl(0, 0%, 24%);
}

.name,
.email,
.phone,
.subject,
textarea {
   width: 100%;
   padding: 7px;
   border: none;
   border-radius: 5px;
   outline: none;
}

@media (min-width: 992px) {
   .main_contact_page {
      margin-top: 25px;
   }
}

/*================= END OF CONTACT =================*/
