.contact_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-width: 32rem;
   min-height: 100vh;
}

.main_contact_page {
   margin-top: 8rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   max-width: 144rem;
   width: 100%;
   padding: 0 1rem;
}

.contact_header {
   background-image: none;
   min-height: unset;
}

.contact_us {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

.address_container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   width: 100%;
}

.address {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding: 4rem;
   width: 100%;
   border-radius: 0.5rem;
   border: 0.1rem solid var(--almost-black);
}

.phone,
.email {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.form_contact {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   width: 100%;
   padding: 2rem;
   border-radius: 0.5rem;
   border: 0.1rem solid var(--almost-black);
}

form .name,
.email,
.phone,
.subject,
textarea {
   width: 100%;
   padding: 1rem;
}

.form_title {
   font-weight: var(--font-weight-700);
}

.name_container,
.email_container,
.phone_container,
.subject_container {
   display: flex;
   flex-direction: column;
}

.submit_btn_container {
   text-align: center;
}

#submit_btn {
   font-size: 1.6rem;
   padding: 1rem 5rem;
   border: none;
   border-radius: 0.5rem;
   color: var(--white);
   background: var(--outrageous-orange);
   font-weight: var(--font-weight-700);
}

#submit_btn:hover {
   background: var(--buttercup);
   cursor: pointer;
}

.maps {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
   width: 100%;
   border-radius: 0.5rem;
}

.maps iframe {
   border-radius: 0.5rem;
   width: 100%;
}

@media (min-width: 768px) {
   .contact {
      padding: 0 2rem;
   }

   .address_container {
      flex-direction: row;
      gap: 1rem;
   }

   .address {
      padding: 4rem;
   }

   .form_contact {
      padding: 4rem;
   }
}

/*================= END OF CONTACT US =================*/
