.header_destination_bg {
   max-width: 1440px;
}

#tour_packages,
#footer_tour_packages {
   background: hsl(36, 71%, 53%);
}

#tour_packages a {
   color: white;
}

.main_destination {
   max-width: 1440px;
   margin-top: 60px;
}

.img_container {
   width: 60%;
}

.tabs_container {
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 5px;
}

.tabs_container input[type="radio"] {
   display: none;
   position: absolute;
   visibility: hidden;
}

.tabs_container label {
   display: inline-block;
   background: hsl(36, 71%, 53%);
   color: white;
   padding: 1rem;
   border-radius: 5px 5px 0 0;
   position: relative;
   top: 1px;
}

.tabs_container label:hover {
   background: hsl(0, 0%, 24%);
   cursor: pointer;
}

.tab {
   display: none;
   flex-direction: column;
   gap: 10px;
   border-radius: 0 5px 5px 5px;
   background: hsl(0, 0%, 24%);
   padding: 10px;
   width: 100%;
   text-align: left;
}

#rates:checked ~ .rates,
#inclusions:checked ~ .inclusions,
#optional:checked ~ .optional,
#itinerary:checked ~ .itinerary {
   display: flex;
   width: 100%;
   visibility: visible;
}

.tabs_container input:checked + label {
   background: hsl(0, 0%, 24%);
   color: white;
   border-bottom: 1px solid transparent;
}

.tab_content {
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding: 20px 25px;
   width: 100%;
   color: white;
   border-radius: 5px;
   border: 1px solid white;
}

.hotel_room_image img {
   width: 100%;
   border-radius: 5px;
}

#inquire_btn {
   color: white;
   padding: 15px;
   border: none;
   border-radius: 5px;
   background: hsl(14, 100%, 57%);
   font-weight: 600;
   width: 100%;
   transition: all 350ms ease-in-out;
}

#inquire_btn:hover {
   background: hsl(36, 71%, 53%);
   cursor: pointer;
}

@media (min-width: 768px) {
   .main_destination {
      margin-top: 50px;
   }

   .tabs_container {
      background-image: url("../images/tours/boracay-1.jpg");
      background-position: top -200px center;
      padding-top: 400px;
   }

   .rates {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
   }

   .hotel {
      width: 320px;
   }
}

@media (min-width: 992px) {
   .img_container {
      width: 50%;
   }

   .rates {
      justify-content: space-between;
      flex-wrap: unset;
   }

   .hotel {
      width: 350px;
   }
}

/*================= END OF TOUR PACKAGES ================= */
