html {
   scroll-behavior: smooth;
}

.header_bg {
   background-image: url("../images/tours/boracay-beach.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top 0 left 0;
   min-height: 50vh;
   max-width: 1440px;
}

.nav_bar_bg {
   background: rgb(20, 20, 20, 0.8);
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
   max-width: 1440px;
   z-index: 99;
}

.logo_container {
   width: 5rem;
}

.overlay {
   background: rgb(20, 20, 20, 0.5);
}

.menu_container {
   display: none;
   visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
   min-height: 100vh;
   transition: all 300ms ease;
   transform: translateY(-250%);
   z-index: 89;
}

.menu_dropdown {
   background: white;
}

.menu_item a {
   color: black;
}

.menu_item:hover {
   cursor: pointer;
   background: hsl(36, 71%, 53%);
}

.menu_item:hover a {
   color: white;
   cursor: pointer;
}

.burger_search_container {
   position: absolute;
   top: 20px;
   right: 20px;
}

.search {
   width: 0;
   outline: none;
   border: none;
   visibility: hidden;
   position: absolute;
   transition: position 300ms ease-in-out;
}

#search_checkbox:checked ~ .burger_search_container > .burger_label {
   display: none !important;
}

#search_checkbox:checked ~ .burger_search_container > form .search {
   visibility: visible;
   position: unset;
   transition: all 300ms ease-in-out;
   width: 100%;
}

.search_label {
   width: 30px;
   transition: all 300ms ease-in-out;
}

.search_label:hover {
   transform: scale(1.1);
   cursor: pointer;
}

.burger_label {
   transition: all 300ms ease;
   z-index: 99;
}

.burger_label:hover {
   transform: scale(1.1);
   cursor: pointer;
}

.burger_line {
   width: 40px;
   border: 2px solid white;
   transition: all 300ms ease-in-out;
}

#burger_checkbox:checked ~ .burger_search_container > label > .line1 {
   width: 23px;
   border: 2px solid black;
   transform: rotate(-47deg);
   transform-origin: right top;
}

#burger_checkbox:checked ~ .burger_search_container > label > .line2 {
   visibility: hidden;
   transition: all 00ms ease;
}

#burger_checkbox:checked ~ .burger_search_container > label > .line3 {
   width: 23px;
   border: 2px solid black;
   transform: rotate(47deg);
   transform-origin: right bottom;
}

#burger_checkbox:checked ~ .menu_logo_container .menu_container {
   display: block;
   visibility: visible;
   transform: translateY(0%);
}

.header_text {
   width: 75%;
   font-size: 16px;
}

@media (min-width: 576px) {
   .header_bg {
      min-height: 60vh;
   }

   .header_text {
      width: 60%;
      font-size: 18px;
   }
}

@media (min-width: 768px) {
   .header_bg {
      min-height: 70vh;
   }

   .burger_search_container {
      position: unset;
      padding-right: 20px;
   }

   .menu_container {
      display: block;
      transition: all 00ms ease;
      transform: translateY(0%);
      visibility: visible;
      position: unset;
      min-height: unset;
   }

   .menu_dropdown {
      background: unset;
      transition: all 00ms ease;
      min-height: unset;
   }

   .menu_item a {
      color: white;
   }

   .header_text {
      font-size: 24px;
   }
}

@media (min-width: 992px) {
   .header_text {
      width: 50%;
      font-size: 30px;
   }
}

/*================= END OF HEADER =================*/

footer {
   max-width: 1440px;
   width: 100%;
   background: rgb(20, 20, 20, 0.8);
}

.social_media_container .icon {
   font-size: 35px;
   transition: all 300ms ease;
}

.social_media_container .facebook {
   color: hsl(208, 92%, 53%);
}

.social_media_container .twitter {
   color: hsl(203, 89%, 53%);
}

.social_media_container .instagram {
   color: hsl(329, 70%, 58%);
}

.social_media_container .youtube {
   color: hsl(348, 97%, 39%);
}

.social_media_container .icon:hover {
   transform: scale(1.1);
   cursor: pointer;
   color: white;
}

.footer_logo_container {
   width: 100px;
   height: 50px;
}

.footer_logo {
   width: 100%;
}

#subscribe_btn {
   width: 50%;
   background: hsl(14, 100%, 57%);
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#subscribe_btn:hover {
   cursor: pointer;
   background: hsl(36, 71%, 53%);
}

.warning {
   display: none;
   color: var(--bright-red);
}

.footer_menu_item:hover {
   cursor: pointer;
   background: hsl(36, 71%, 53%);
}

.attribution {
   text-align: center;
   font-size: 10px;
   color: white;
}

.attribution a {
   text-decoration: none;
   color: white;
}
/*================= END OF FOOTER =================*/

.red {
   border: 1px solid red;
}
