#homes,
#footer_home {
   background: hsl(36, 71%, 53%);
   color: white;
}

#homes a {
   color: white;
}

.special_offer_container {
   max-width: 1440px;
   background: hsl(0, 0%, 49%);
}

.special_offer {
   background: hsl(0, 0%, 24%);
}

.border_out {
   border-radius: 0 10px 0 10px;
   border: 2px solid hsl(0, 0%, 49%);
}

.border_in {
   border-radius: 0 10px 0 10px;
   background: hsl(36, 71%, 53%);
   border: 2px solid hsl(0, 0%, 24%);
}

.off {
   margin-top: -10px;
}

#grab_now_btn {
   border: none;
   border-radius: 0.5rem;
   background: hsl(14, 100%, 57%);
   color: white;
   box-shadow: 0 0 0.5rem hsla(14, 100%, 57%, 0.5);
}

#grab_now_btn:hover {
   background: hsl(36, 71%, 53%);
   cursor: pointer;
}

@media (min-width: 992px) {
   .offer_text_container {
      width: 50%;
   }
}

/*================= END OF SPECIAL OFFERS =================*/
.packages_container {
   max-width: 1440px;
}

.card_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   gap: 40px 10px;
}

.card {
   display: flex;
   flex-direction: column;
   width: 100%;
   border-radius: 5px;
   background: white;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card_image_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 310px;

   position: relative;
   overflow: hidden;
   border-radius: 5px 5px 0 0;
   box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.card_image_container img {
   width: 100%;
   height: 100%;
   border-radius: 5px 5px 0 0;
   transition: all 1.5s ease;
}

.card_image_container:hover .card_img {
   transform: scale(1.5);
   cursor: pointer;
}

.card_price {
   color: white;
   font-weight: bold;
   border-radius: 10px;
   padding: 10px;
   background: rgb(20, 20, 20, 0.8);

   position: absolute;
   top: 10px;
   left: 10px;
}

.read_more_btn {
   display: none;
   padding: 10px;
   border-radius: 5px;
   background: rgb(20, 20, 20, 0.8);
   text-decoration: none;
   position: absolute;
}

.read_more_btn:hover {
   text-decoration: underline;
}

.card_image_container:hover > .read_more_btn {
   display: block;
   color: white;
   cursor: pointer;
}

.card_description {
   display: flex;
   align-items: center;
   justify-content: center;
   background: hsl(0, 0%, 24%);
   border-radius: 0 0 5px 5px;
   width: 100%;
}

.card_title {
   margin-top: 7px;
   color: white;
   font-weight: 700;
}

@media (min-width: 670px) {
   .card_container {
      flex-direction: row;
      flex-wrap: wrap;
   }

   .card_image_container {
      height: 270px;
   }

   .card {
      width: 320px;
   }
}

/*================= END OF TOUR PACKAGES =================*/
.contact_us {
   max-width: 1440px;
   background: hsl(0, 0%, 24%);
}

.name,
.email,
.phone,
.adult,
.child,
.subject,
textarea {
   width: 100%;
   padding: 7px;
   border: none;
   border-radius: 5px;
   outline: none;
}

#submit_btn {
   background: hsl(14, 100%, 57%);
   transition: all 300ms ease-in-out;
}

#submit_btn:hover {
   background: hsl(36, 71%, 53%);
}

/*================= END OF CONTACT PACKAGES =================*/
.about_us {
   max-width: 1440px;
}

.company_info p {
   text-align: justify;
}

.services {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 8rem;
   width: 100%;
   height: 150px;
   border-radius: 5px;
   border: 1px solid black;
   position: relative;
}

.services_icon_container {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   border: 1px solid black;
   padding: 15px;
   width: 80px;
   height: 80px;
   position: absolute;
   top: -40px;
   background: white;
}

.services_icon {
   width: 100%;
}

.sold {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   font-weight: bold;
}

@media (min-width: 576px) {
   .services {
      width: 162px;
   }
}

@media (min-width: 992px) {
   .company_info {
      width: 50%;
   }

   .services_offer {
      width: 50%;
   }
}

/*================= END OF ABOUT PACKAGES =================*/
