.main_page {
   display: flex;
   flex-direction: column;
   gap: 0.1rem;
   max-width: 144rem;
   width: 100%;
}

.special_offer_container {
   display: flex;
   padding: 1rem;
   background: var(--gray);
   width: 100%;
}

.special_offer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5rem;
   padding: 4rem 2rem;
   background: var(--eclipse);
   width: 100%;
   border-radius: 1rem;
}

.border_out {
   border-radius: 0 2rem 0 2rem;
   border: 0.2rem solid var(--gray);
}

.border_in {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: var(--buttercup);
   border: 0.2rem solid var(--eclipse);
   color: var(--white);
   padding: 1.5rem;
   border-radius: 0 2rem 0 2rem;
   font-size: 2rem;
}

.num {
   font-weight: var(--font-weight-700);
   font-size: 4rem;
}

.off {
   margin-top: -1.5rem;
}

.offer_text_container {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   color: var(--white);
   text-align: center;
   font-weight: var(--font-weight-600);
}

#grab_now_btn {
   font-size: 1.6rem;
   border: none;
   border-radius: 0.5rem;
   background: var(--outrageous-orange);
   padding: 1rem 5rem;
   color: var(--white);
   font-weight: var(--font-weight-600);
   box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

#grab_now_btn:hover {
   background: var(--buttercup);
   cursor: pointer;
}

@media (min-width: 635px) {
   .special_offer {
      flex-direction: row;
      gap: 1rem;
      padding: 2rem;
   }
}

@media (min-width: 1024px) {
   .special_offer_container {
      padding: 6rem;
   }

   .special_offer {
      flex-direction: row;
      gap: 4rem;
      padding: 4rem;
   }
}

@media (min-width: 1201px) {
   .special_offer_container {
      padding: 8rem;
   }

   .special_offer {
      flex-direction: row;
      gap: 10rem;
      padding: 10rem;
   }
}

/*================= END OF SPECIAL OFFER SECTION =================*/

.local_destinations {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   width: 100%;
   text-align: center;
   padding: 6rem 1rem;
}

.tour_title {
   width: 100%;
   padding-bottom: 2rem;
}

.card_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 4rem 1rem;
}

.card {
   display: flex;
   flex-direction: column;
   width: 100%;
   border-radius: 0.5rem;
   background: var(--white);
   box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.card_image_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 25rem;

   position: relative;
   overflow: hidden;
   border-radius: 0.5rem 0.5rem 0 0;
   box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.5);
}

.card_image_container img {
   width: 100%;
   height: 100%;
   border-radius: 0.5rem 0.5rem 0 0;
   transition: all 1.5s ease;
}

.card_image_container:hover .card_img {
   transform: scale(1.5);
   cursor: pointer;
}

.card_price {
   color: var(--white);
   font-weight: var(--font-weight-600);
   border-radius: 1rem;
   padding: 1rem;
   background: var(--almost-black-nav-bg);

   position: absolute;
   top: 2rem;
   left: 2rem;
}

.read_more_btn {
   display: none;
   color: var(--white);
   padding: 1rem;
   border-radius: 0.5rem;
   background: var(--almost-black-nav-bg);
   text-decoration: none;
   position: absolute;
}

.card_image_container:hover .read_more_btn {
   display: block;
   cursor: pointer;
}

.card_description {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   padding: 1rem;
}

.card_btn_container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2rem;
   font-weight: var(--font-weight-700);
}

@media (min-width: 670px) {
   .card_container {
      flex-direction: row;
      flex-wrap: wrap;
   }

   .card {
      width: 32rem;
   }
}

/*================= END OF TOURS =================*/
.contact_us {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;
   padding: 4rem 1rem;
   color: var(--white);
   background: var(--eclipse);
}

.address_container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   width: 100%;
}

.address {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding: 4rem;
   width: 100%;
   border-radius: 0.5rem;
   border: 0.1rem solid var(--white);
}

.phone,
.email {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.form_contact {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   width: 100%;
   padding: 2rem;
   border-radius: 0.5rem;
   border: 0.1rem solid var(--white);
}

form .name,
.email,
.phone,
.subject,
textarea {
   width: 100%;
   padding: 1rem;
}

.name_container,
.email_container,
.phone_container,
.subject_container {
   display: flex;
   flex-direction: column;
}

.submit_btn_container {
   text-align: center;
}

#submit_btn {
   font-size: 1.6rem;
   padding: 1rem 5rem;
   border: none;
   border-radius: 0.5rem;
   color: var(--white);
   background: var(--outrageous-orange);
   font-weight: var(--font-weight-700);
}

#submit_btn:hover {
   background: var(--buttercup);
   cursor: pointer;
}

.maps {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
   width: 100%;
   border-radius: 0.5rem;
}

.maps iframe {
   border-radius: 0.5rem;
   width: 100%;
}

@media (min-width: 768px) {
   .contact {
      padding: 0 2rem;
   }

   .address_container {
      flex-direction: row;
      gap: 1rem;
   }

   .address {
      padding: 4rem;
   }

   .form_contact {
      padding: 4rem;
   }
}

/*================= END OF CONTACT US =================*/
.about_us {
   display: flex;
   flex-direction: column;
   text-align: center;
   gap: 2rem;
   padding: 4rem 1rem;
   background: var(--white);
}

.about_container {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.company_info {
   padding: 2rem 1rem;
   border-radius: 0.5rem;
   width: 100%;
   border-radius: 0.5rem;
   border: 0.1rem solid var(--gray);
}

.services_offer {
   display: flex;
   flex-direction: column;
   padding: 2rem 1rem;
   width: 100%;
   border-radius: 0.5rem;
   border: 0.1rem solid var(--gray);
}

.services_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 6rem;
   padding: 6rem 2rem 2rem 2rem;
}

.services {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 8rem;
   width: 100%;
   height: 15rem;
   border-radius: 0.5rem;
   border: 0.1rem solid var(--gray);
   position: relative;
}

.services_icon_container {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   border: 0.1rem solid var(--gray);
   padding: 1.5rem;
   width: 8rem;
   height: 8rem;
   position: absolute;
   top: -4rem;
   background: var(--white);
}

.services_icon {
   width: 100%;
}

.sold {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   font-weight: var(--font-weight-700);
}

@media (min-width: 768px) {
   .company_info {
      padding: 4rem 1rem;
   }

   .services_offer {
      padding: 4rem 1rem;
   }

   .about_text {
      text-align: left;
      padding: 2rem;
   }

   .services_container {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
   }

   .services {
      width: 18rem;
   }
}

@media (min-width: 1024px) {
   .about_container {
      flex-direction: row;
      gap: 1rem;
   }
}

@media (min-width: 1201px) {
   .services {
      width: 22rem;
   }
}
