#special_offer,
#footer_special_offer {
   background: hsl(36, 71%, 53%);
}

#special_offer a {
   color: white;
}

.header_special_offer_bg {
   max-width: 1440px;
}

.main_special_offer {
   max-width: 1440px;
   margin-top: 60px;
}

.card_special_offer_select {
   transition: all 500ms ease-in-out;
}

.card_special_offer_container {
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   border: 1px solid hsl(36, 71%, 53%);
   width: 100%;
}

.card_special_offer_title {
   padding: 20px;
   border-radius: 5px 5px 0 0;
   color: white;
   background: hsl(36, 71%, 53%);
   width: 100%;
   text-align: center;
   font-weight: bold;
}

.card_special_offer_content {
   display: flex;
   flex-direction: column;
   text-align: left;
   padding: 0 20px 20px 20px;
   width: 100%;
}

.card_special_offer_inclusions {
   padding: 10px;
   border-bottom: 1px solid hsl(36, 71%, 53%);
}

.card_special_offer_inclusions ul {
   padding-left: 40px;
}

.card_special_offer_pros {
   padding: 10px;
   border-bottom: 1px solid hsl(36, 71%, 53%);
}

.card_special_offer_min_nights {
   padding: 10px;
   border-bottom: 1px solid hsl(36, 71%, 53%);
}

.card_special_offer_hotel_rating {
   display: flex;
   gap: 10px;
   align-items: center;
   padding: 10px;
   border-bottom: 1px solid hsl(36, 71%, 53%);
}

.card_special_offer_offer_price {
   padding: 10px;
   border-bottom: 1px solid hsl(36, 71%, 53%);
}

.card_special_offer_btn_container {
   padding-top: 30px;
}

#card_special_offer_btn {
   font-size: 16px;
   color: white;
   padding: 15px;
   border: none;
   border-radius: 10px;
   background: hsl(14, 100%, 57%);
   font-weight: bold;
   width: 100%;
   transition: all 300ms ease-in-out;
}

#card_special_offer_btn:hover {
   background: hsl(36, 71%, 53%);
   cursor: pointer;
}

@media (min-width: 450px) {
   .special_offer_all_card {
      padding: 30px 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
   }

   .card_special_offer_container {
      width: 350px;
   }
}

@media (min-width: 768px) {
   .main_special_offer {
      margin-top: 15px;
   }

   .special_offer_all_card {
      padding: 90px 0;
   }

   .card_special_offer_container {
      width: 350px;
   }
}

@media (min-width: 992px) {
   .card_special_offer_select:hover {
      transform: scale(1.1);
      cursor: pointer;
   }
}
