.header_tours_bg {
   max-width: 1440px;
}

#tour_packages,
#footer_tour_packages {
   background: hsl(36, 71%, 53%);
}

#tour_packages a {
   color: white;
}

.main_tours {
   max-width: 1440px;
   margin-top: 60px;
}

.packages_container {
   max-width: 1440px;
}

.card_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   gap: 40px 10px;
}

.card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   border-radius: 5px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card_image_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 310px;

   position: relative;
   overflow: hidden;
   border-radius: 5px 5px 0 0;
}

.card_image_container img {
   width: 100%;
   height: 100%;
   border-radius: 5px 5px 0 0;
   transition: all 1.5s ease;
}

.card_image_container:hover .card_img {
   transform: scale(1.5);
   cursor: pointer;
}

.card_price {
   color: white;
   font-weight: bold;
   border-radius: 10px;
   padding: 10px;
   background: rgb(20, 20, 20, 0.8);

   position: absolute;
   top: 10px;
   left: 10px;
}

.read_more_btn {
   display: none;
   padding: 10px;
   border-radius: 5px;
   background: rgb(20, 20, 20, 0.8);
   text-decoration: none;
   position: absolute;
}

.read_more_btn:hover {
   text-decoration: underline;
}

.card_image_container:hover > .read_more_btn {
   display: block;
   color: white;
   cursor: pointer;
}

.card_description {
   display: flex;
   align-items: center;
   justify-content: center;
   background: hsl(0, 0%, 24%);
   border-radius: 0 0 5px 5px;
   width: 100%;
}

.card_title {
   margin-top: 7px;
   color: white;
   font-weight: 700;
}

@media (min-width: 670px) {
   .card_container {
      flex-direction: row;
      flex-wrap: wrap;
   }

   .card_image_container {
      height: 270px;
   }

   .card {
      width: 320px;
   }
}

@media (min-width: 992px) {
   .main_tours {
      margin-top: 20px;
   }
}

/*================= END OF TOUR PACKAGES =================*/
