.card_suggest_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   gap: 10px;
   width: 100%;
}

.card_suggest {
   display: flex;
   flex-direction: column;
   width: 100%;
   border-radius: 5px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
   text-align: center;
}

.card_suggest_image_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 270px;

   position: relative;
   overflow: hidden;
   border-radius: 5px 5px 0 0;
   box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.card_suggest_image_container img {
   width: 100%;
   height: 100%;
   border-radius: 5px 5px 0 0;
   transition: all 1.5s ease;
}

.card_suggest_image_container:hover .card_suggest_img {
   transform: scale(1.5);
   cursor: pointer;
}

.card_suggest_price {
   color: white;
   font-weight: bold;
   border-radius: 10px;
   padding: 10px;
   background: rgb(20, 20, 20, 0.8);

   position: absolute;
   top: 10px;
   left: 10px;
}

.card_suggest_read_more_btn {
   display: none;
   color: white;
   padding: 10px;
   border-radius: 5px;
   background: rgb(20, 20, 20, 0.8);
   text-decoration: none;
   position: absolute;
}

.card_suggest_read_more_btn:hover {
   text-decoration: underline;
}

.card_suggest_title {
   font-weight: bolder;
}

.card_suggest_image_container:hover .card_suggest_read_more_btn {
   display: block;
   color: white;
   cursor: pointer;
}

@media (min-width: 576px) {
   .card_suggest_container {
      flex-direction: row;
      flex-wrap: wrap;
   }

   .card_suggest {
      width: 320px;
   }
}

/*================= END OF YOU MAY ALSO LIKE ================= */
